<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project MAI391</title>
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/styleindex.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <img src="static/img/bg-star.jpg" alt="" class="body_image" />
      <div class="main-content">
        <div class="header-logo">
          <img src="static/img/Logo_Đại_học_FPT-removebg-preview.png" alt="">
        </div>

        <h1 class="main-content_header">PROJECT MAI391</h1>
          
        <a href="document.html" class="link-document">
          <img src="././static/img/626-rocket.svg.png" alt="">
          <p>Document</p>

        </a>
        
        <a href="predict.html" ><img src="static/img/telescope.gif" alt="" class="main-content_telescope" /></a>
      </div>
      <div class="main-container-type_text">
        <p class="line-1 anim-typewriter">Find your star &#128640 .....</p>
      </div>
    </div>

    <!-- STAR ANIMATION -->
    <section>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </section>

  
  </body>
</html>
