.main-content {
  min-width: 10rem;
  min-height: 100%;
}

.main-content_h2 {
  padding: 0 1rem;
}

.form-predict_container {
  margin: auto;
  max-width: 65%;
  min-height: 70%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-predict {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-predict {
  width: 85%;
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-form_predict {
  height: 2rem;
  width: 16rem;
  margin-left: auto;
  border-radius: 6px;
  border: 1px solid rgb(117, 111, 111);
}

.submit_button {
  color: red;
}

.input_submit {
  min-height: 2.3rem;
  width: 5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fa6400;
  color: white;
  margin-top: 1rem;
}

.input_submit:hover {
  cursor: pointer;
}

.decrip_input_1 {
  position: relative;
  display: flex;
  align-items: center;
}
.decrip_input_1-logo {
  height: 1.2rem;
  width: 1.2rem;
}

.decrip_input_1::after {
  content: "Temperature";
  position: absolute;
  color: red;
  left: 1.2rem;
  font-size: 0.75rem;
  opacity: 0;
  min-width: 10rem;
}

.decrip_input_1:hover::after {
  opacity: 1;
}

.decrip_input_2 {
  position: relative;
  display: flex;
  align-items: center;
}
.decrip_input_2-logo {
  height: 1.2rem;
  width: 1.2rem;
}

.decrip_input_2::after {
  content: "L/Lo";
  position: absolute;
  color: red;
  left: 1.2rem;
  font-size: 0.75rem;
  opacity: 0;
  min-width: 10rem;
}

.decrip_input_2:hover::after {
  opacity: 1;
}

.decrip_input_3 {
  position: relative;
  display: flex;
  align-items: center;
}
.decrip_input_3-logo {
  height: 1.2rem;
  width: 1.2rem;
}

.decrip_input_3::after {
  content: "R/Ro";
  position: absolute;
  color: red;
  left: 1.2rem;
  font-size: 0.75rem;
  opacity: 0;
  min-width: 10rem;
}

.decrip_input_3:hover::after {
  opacity: 1;
}

.decrip_input_4 {
  position: relative;
  display: flex;
  align-items: center;
}

.decrip_input_4-logo {
  height: 1.2rem;
  width: 1.2rem;
}

.decrip_input_4::after {
  content: "Mv";
  position: absolute;
  color: red;
  left: 1.2rem;
  font-size: 0.75rem;
  opacity: 0;
  min-width: 10rem;
}

.decrip_input_4:hover::after {
  opacity: 1;
}

.decrip_input_5 {
  position: relative;
  display: flex;
  align-items: center;
}
.decrip_input_5-logo {
  height: 1.2rem;
  width: 1.2rem;
}

.decrip_input_5::after {
  content: "General Color of Spectrum";
  position: absolute;
  color: red;
  left: 1.2rem;
  font-size: 0.75rem;
  opacity: 0;
  min-width: 10rem;
}

.decrip_input_5:hover::after {
  opacity: 1;
}

.decrip_input_6 {
  position: relative;
  display: flex;
  align-items: center;
}
.decrip_input_6-logo {
  height: 1.2rem;
  width: 1.2rem;
}

.decrip_input_6::after {
  content: "O,B,A,F,G,K,M / SMASS";
  position: absolute;
  color: red;
  left: 1.2rem;
  font-size: 0.75rem;
  opacity: 0;
  min-width: 10rem;
}

.decrip_input_6:hover::after {
  opacity: 1;
}
