<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project MAI</title>
    <link rel="stylesheet" href="css/stylecss.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- TOP BAR -->
      <header class="header">
        <div class="logo-header_container">
          <img
            src="static/img/Logo_Đại_học_FPT.png"
            alt="logo"
            class="header-logo"
          />
        </div>
        <div class="header-dicription">
          <h1>COMPUTER PROJECT MAI391</h1>
        </div>
      </header>

      <!-- CONTENT BAR -->
      <div class="body-area">
        <!-- SIDE BAR -->
        <div class="sidebar">
          <div class="sidebar_menu">
            <div class="project_menu menu-child">
              <img src="static/img/neural.png" alt="" class="menu-img" />
              <a href="predict.html" class="child-menu_title">Predict</a>
            </div>

            <div class="document-project_menu menu-child">
              <img src="static/img/document.png" alt="" class="menu-img" />
              <a href="document.html" class="child-menu_title">Document</a>
            </div>
          </div>
        </div>
        <div class="main-content"></div>
      </div>
    </div>
  </body>
</html>
